@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


body { max-width: 100%; font-family: 'Noto Sans KR', sans-serif;}
.web{display:block;}
.mobile{display:none;}

#photos div.previous { z-index: 1; }
#photos div.current { z-index: 2; }

@-webkit-keyframes circle {
  0% {
    -webkit-clip-path: circle(75%);
            clip-path: circle(75%);
  }
  100% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
}

@media screen and (max-width: 1720px) {
.nav ul li.topMenu_double2{line-height: 120%;margin-top: 20px;}
}


@media screen and (max-width: 1700px) {
.quick_menu{right:5px;}
.nav ul li{}
.spot{height:auto;}
#title-h{top:35%;}
#title-h p{font-size:3.5rem;}
}

@media screen and (max-width: 1640px) {
.nav ul li.subMenu_double{line-height: 120%;}
}

@media screen and (max-width: 1465px) {
.nav ul li.topMenu_double{line-height: 120%;margin-top: 20px;}
}

@media screen and (max-width: 1400px) {
.spot .green{display:none;}
#category-wrap{width:100%;bottom:1%;height:auto;}
#title-h{top:35%;right:7%;}
#title-h p:nth-child(2){letter-spacing:-1px;}
#title-h p{font-size:2.5rem;}
#left-box-wrap{width:63%;}
.slider-item.v01,
.slider-item.v02,
.slider-item.v03,
.slider-item.v04,
.slider-item.v05,
.slider-item.v06,
.slider-item.v07,
.slider-item.v08{background-size:auto 700px;}
}

@media screen and (max-width: 1375px) {
.nav ul li.topMenu_double3{line-height: 120%;margin-top: 20px;}
}

@media screen and (max-width: 1320px) {
.nav ul li.subMenu_double2{line-height: 120%;}
}


@media screen and (max-width: 1200px) {
.quick_menu{display:none;}
/* #side-menu{display:block;} */
#bottom-banner,
#main-container-wrap,
#main-notice-wrap{width:95%;height:auto;}
.icon-box{min-width:100px;}
.icon-box .box{height:70px;}
.icon-box .box img{margin-top:0px;}
ul.info-box-content li{padding:30px 0;}
.bar::after{height:120px;left:48%;}
#icon-wrap{margin-top:23px;}
.language_menu{display:none;}
}

@media screen and (max-width: 1320px) {
.nav ul li.subMenu_double3{line-height: 120%;}
}

@media screen and (max-width: 1115px) {
.nav ul li.subMenu_double4{line-height: 120%;}
}

@media screen and (max-width: 1024px) {
.web{display:none;}
.mobile{display:block;}

#menu-btn + label{width:80px;min-width:auto;background-image:none;background:#fcab2e;}
#menu-btn + label .btn-line{margin:5px 30px;}
#menu-btn + label .btn-line:nth-child(2){margin-left:41px}
#main-container-bg{height:auto;top:0px;}
#main-container-wrap{width:90%;height:auto;}
.icon-box{min-width:80px;}
#news-box{height:auto;}
#main-container-wrap,
#bottom-banner,
#main-notice-wrap{width:90%;}
#news,
#notice{float:none;display:block;width:100%;margin:0px;height:auto;}
#notice{margin-bottom:20px;}
#titile h2, #news h2{margin-bottom:0px;}
#main-notice-wrap{padding-bottom:20px;}
#address{float:none;display:block;text-align:left;overflow:hidden;width:100%;}
#daegu-logo{position:absolute;float:none;right:10px;top:0px;}

#title-h{padding:10px;width:60%;background:rgba(0,0,0,0.3);top:35%;right:20%;box-sizing:border-box;margin:0 auto;}
#title-h p:nth-child(1){color:#fff;}
#title-h p{display:block;margin:0 auto;text-align:center;}
#banner{overflow:hidden;}
/* .slider{height:700px;} */
.slider-panel{bottom:0%;z-index:9999;background:#fff;padding:10px 0;}
#dots{position:relative;margin-right:0%;margin:0 auto;bottom:0px;left:0px;width:100%;background:#fff;}
.notice-box a{font-size:13px;}
.notice-box p{font-size:12px;}
#category-wrap{position:relative;bottom:0%;padding:40px 0;}
.slider-item > span{display:none;}
.slider-item.v01{background:url(../../images/user/main/banner1-mo-2.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v02{background:url(../../images/user/main/banner1-mo-3.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v03{background:url(../../images/user/main/banner1-mo-4.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v04{background:url(../../images/user/main/banner1-mo-5.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v05{background:url(../../images/user/main/banner1-mo-6.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v06{background:url(../../images/user/main/banner1-mo-7.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v07{background:url(../../images/user/main/banner1-mo-8.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}
.slider-item.v08{background:url(../../images/user/main/banner1-mo-9.png) no-repeat center top;background-color:#fff;background-size:cover;background-position:left top;}


}

@media screen and (max-width: 640px) {

.language_menu2 {position: fixed; top:0; right:70px; z-index: 9999999; text-align: center;padding:5px 10px;}
.lang_img {display: inline-block;}
#header{height:60px;}
#menu-btn + label{width:60px;height:60px;padding:15px 0;}
#menu-btn + label .btn-line{margin:5px 20px;}
#menu-btn + label .btn-line:nth-child(2){margin-left:31px;}
#header-inner-logo{top:0px; left: 0;}
#header-inner-logo img{width: 90%;height:auto; }
.side-nav,
.slider-item{top:60px;}
.side-nav label{padding:10px 0;}
#left-box-wrap{width:100%;max-width:100%;float:none;display:block;top:0px;height:auto;overflow:hidden;}
#right-box-wrap{clear:both;width:100%;max-width:100%;height:auto;top:0px;float:none;display:block;overflow:hidden;}
#info-box{max-width:100%;background-size:100% 100%;overflow:hidden;}
.icon-box{width:32.33%}
.d-icon-box{width:100%;margin-left:0px;}
.d-box{height:120px;}
#icon-wrap{max-width:100%;overflow:hidden;}
.d-icon-box span{display:block;}
/* .slider{height:580px;} */
#title-h{top:60%;width:80%;padding:15px;right:10%;}
#title-h p:nth-child(1){color:#fff;}
#title-h p{font-size:1.5em;}
#title-h p:nth-child(4){font-size:16px;}
.slider-panel{display:none !important;}
ul.m_solution li{width:31%;margin-bottom:15px;}

#address span br{display:none;}
.icon-box{min-width:80px;}
.icon-box .box{height:60px; margin: 15px 0px;}
.icon-box .box span{margin-bottom:15px;}
.icon-box .box img{margin-top:0px;}
#main-container-wrap{padding:20px 0;}
#category-wrap h1{font-size:20px;}
#footer-logo img,
#daegu-logo img{max-width:70%;float:right;}
#footer-logo img{float:left;}
#address span{font-size:13px;}

}
